{% load static %}
{% load shared %}


<!--sidebar wrapper -->
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Rocker</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-back'></i>
        </div>
     </div>


    <!--navigation-->
    <!-- <ul class="metismenu" id="menu"> -->
    <ul class="" id="menu">

        <!-- Dashboard -->
        <li class="{% active_menu request 'dashboards:home' %}">
            <a href="{% url 'dashboards:home' %}">
                <div class="parent-icon">
                    <i class='bx bx-home-alt'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <!-- <li class="menu-label"></li> -->
        <!-- Student -->
        <li class="{% active_menu request 'student:student_create, student:student_list' %}">
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="menu-title">Student</div>
            </a>
            <ul>
                <li class="{% active_menu request 'student:student_list' %}"> 
                    <a href="{% url 'student:student_list' %}"><i class='bx bx-radio-circle'></i>List</a>
                </li>
                <li class="{% active_menu request 'student:student_create' %}"> 
                    <a href="{% url 'student:student_create' %}"><i class='bx bx-radio-circle'></i>Create</a>
                </li>
            </ul>
        </li>
        

        <li class="menu-label">Authentication</li>

        <!-- Admin -->
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class="bx bx-lock"></i>
                </div>
                <div class="menu-title">Admin</div>
            </a>

            <ul>
                <li><a class="has-arrow" href="javascript:;"><i class='bx bx-radio-circle'></i>Admin</a>
                    <ul>
                        <li><a href="auth-basic-signin.html" target="_blank"><i class='bx bx-radio-circle'></i>List</a></li>
                        <li><a href="auth-basic-signup.html" target="_blank"><i class='bx bx-radio-circle'></i>Create</a></li>
                        <!-- <li><a href="auth-basic-forgot-password.html" target="_blank"><i class='bx bx-radio-circle'></i>Forgot Password</a></li>
                        <li><a href="auth-basic-reset-password.html" target="_blank"><i class='bx bx-radio-circle'></i>Reset Password</a></li> -->
                    </ul>
                </li>
                
            </ul>
        </li>

        <!-- Profile -->
        <li>
            <a href="user-profile.html">
                <div class="parent-icon"><i class="bx bx-user-circle"></i>
                </div>
                <div class="menu-title">User Profile</div>
            </a>
        </li>
        
        
        
        
    
        
        
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->