{% load static %}

<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/simplebar.min.js' %}"></script>
<script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'assets/js/chart.js' %}"></script>
<script src="{% static 'assets/js/index.js' %}"></script>
<!--app JS-->
<script src="{% static 'assets/js/app.js' %}"></script>
<script>
    new PerfectScrollbar(".app-container")
</script>